@font-face {
	font-family:'Open Sans';
	src:url('//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot');
	src:url('//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.woff') format('woff'),url('//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),url('//mozorg.cdn.mozilla.net/media/fonts/OpenSans-Regular-webfont.svg#svgFontName') format('svg')
}
body {
    margin: 0;
    padding: 0;
    font-family: "Open sans",HelveticaNeue,Helvetica,Arial,Sans-serif;
}
#menu {
    width: 100%;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#menu ul {
    margin: 0px;
    padding: 0px;
    background-color: #ededed;
    list-style: outside none none;
}
#menu ul li {
    margin: 0px;
    padding: 0px;
    display: inline;
}
#menu ul li a {
    padding: 2px 10px;
    height: 50px;
    display: inline-block;
    /* visual do link */
    background-color: #ededed;
    color: #333;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-bottom: 3px #ededed solid;
}
#menu ul li a:hover {
    background-color: #d6d6d6;
    color: #6d6d6d;
    border-bottom: 3px #ea0000 solid;
}